@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'base/variables';

*{
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width:960px;
    margin: 0 auto;
}
.fade{
    animation-name:fade;
    animation-duration:1s;
}


@import 'blocks/animation';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/promo';
@import 'blocks/services';
@import 'blocks/titles';
@import 'blocks/about';
@import 'blocks/support';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/comments';
@import 'blocks/partners';
@import 'blocks/rate';
@import 'blocks/forms';
@import 'blocks/contacts';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/upBtn';
@import 'blocks/media';