.button{
    display:block;
    border-radius: 5px;
    background-color: #0f0f0f;
    background-image: linear-gradient(to top, #c10b0b 0%, #e42626 100%);
    text-align: center;
    font-weight: 700;
    border:none;
    color: #ffffff;
    &:focus{
        outline: none;
    }
    &_min{
        width: 140px;
        height: 30px;
        font-size: 11px;
    }
    &_big{
        font-size: 17px;
        width: 299px;
        height: 65px;
    }
    &_form{
        width: 320px;
        height: 65px;
        font-size: 17px;
    }
}
.btn{
    &-price{
        display: block;
        width: 180px;
        height: 55px;
        border-radius: 5px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        border:none;
        &:focus{
            outline: none;
        }
    }
    &_orange{
        background-image: linear-gradient(to top, #ff2e00 0%, #ff4c25 100%);
    }
    &_green{
        background-image: linear-gradient(to top, #008e00 0%, #00a300 100%);
    }
    &_blue{
        background-image: linear-gradient(to top, #001c67 0%, #02388f 100%);
    }
    &_buy{
        background-color: #9a9a9a;
    }
}
